.vscode/
.ghc.environment.*
dist-newstyle/
dist/
.stack-work/
*.log
.stack-work-profiling/
conn.dhall

coredb.dhall
coresum.dhall
corems.dhall
msdriver.dhall
corepg.dhall
pgdriver.dhall
coremy.dhall
mydriver.dhall
coreor.dhall
ordriver.dhall
cores3.dhall
s3driver.dhall

corelog.dhall
log.dhall
*OLD*.sql
*.dsn
*.hs.OLD
stack*.yaml.lock
spec.prof*
.history
odbcinst.ini_WSL_UBUNTU_1604
cabal.project.local
.hie/
*.bundle
stan.html
